@tailwind base;
@tailwind components;
@tailwind utilities;

.cardprojects {
  opacity: 0;
  transition: opacity 0.3s ease; /* Added transition property */
  

}
.projects:hover{
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.projects:hover .cardprojects {
  opacity: 1;
}
.backgroundcard{
  background-image: url("https://static.vecteezy.com/system/resources/thumbnails/000/598/557/small/polymesh10-08-01.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}